<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="row">
  <div class="small 3 columns">
  <div class="field">
      <%= f.label :'titulo del post' %><br>
    <%= f.text_field :title %>
  </div>
      </div>
  </section>
  
 <section class="row">
 <div class="small 3 columns">
 <div class="field">
 <%= f.label :post %><br>
 <%= f.text_area :body %>
 </div>
 </div>
 </section>
      
  <section class="row">
  <div class="medium 6 columns">
  <div class="actions">
  <%= f.submit 'aceptar', :class => 'button small'%>
  </div>
  </div>
  </section>
  
<% end %>
