<h1>Lista de posts</h1>
<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Posts</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td>
            <% if post.body.length > 0%>
            <a href="#" data-open="post-<%= post.id %>">Ver Post</a>
            <div id="post-<%= post.id %>" class="reveal" data-reveal>
                <%= post.body %>
                <button class="close button" data-close aria-label="cerrar" type="button">
                <span aria hidden="true">&times;</span>
                </button>
            </div>
                
            <% end %>
          </td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Nuevo Post', new_post_path %>
